
:root{
   --black: #000000;
   --white: #ffffff;
   --gray: #898989;
   --lightGray: #DDDDDD;
   --red: #EC0000;
   --colorPrimary: #00206F;
   --colorSecondary: #0132AE;
}

* {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 30px;
    text-align: center;
}

hr.line {
    margin-top: 10px;
    margin-bottom: 30px;
}

header {
    padding: 20px;
    background-color: var(--colorPrimary);
    color: var(--white);
}

div#container article {
    margin-left: 50px;
    margin-right: 50px;
}

div#container section > h2 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-color: var(--lightGray);
    color: var(--black);
}

div#container section > article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#container section > article div {
    margin: 20px;
}

div#container section > article button.btnInit {
    width: 100px;
    margin: 20px;
    padding: 3px;
    border-radius: 10%;
    background-color: var(--colorPrimary);
    color: var(--white);
    font-weight: bold;
    transition: all .5s;
}

div#container section > article button.btnInit:hover {
    background-color: var(--colorSecondary);
    border-radius: 50%;
    transition: all .5s;
}

div#container section > article input {
    padding: 5px;
}

div#container section > article label {
    margin-right: 20px;
}

div#container section > article table {
    width: 35%;
}

div#container section > article table > tr > td {
    padding: 15px;
    border: 5px solid var(--colorSecondary);
    text-align: center;
    color: var(--white);
}

div#container section > article table > tr > th {
    padding-bottom: 15px;
}

div#container section > article button.btnsBoard {
    width: 45px;
    padding: 10px;
    cursor:crosshair;
    border-radius: 50%;
    background-color: var(--red);
    color: var(--white);
    font-weight: bold;
}
