
/*
 * Author: Juan José Gómez Villegas
 * Description: Project 1. CV, stylesheets file
*/

/* CSS VARIABLES */
:root {
    --black: #000000;
    --white: #ffffff;
    --gray: #7C7C7C;
    --lightGray: #D6D6D6;
    --colorPrimary: #0D0A0A;
    --colorSecundary: #141414;
    --textColor: var(--white);
}

/* CSS ANIMATIONS */

/* Animation by change theme */
@keyframes changeTheme {
    0% {background: radial-gradient(circle, var(--colorPrimary) 0%, var(--colorSecundary) 0%);}
    50% {background: radial-gradient(circle, var(--colorPrimary) 0%, var(--colorSecundary) 50%);}
    100% {background: radial-gradient(circle, var(--colorPrimary) 0%, var(--colorSecundary) 100%);}
}

/* Animation by rotate elements */
@keyframes rotateElem {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/* FOR ALL DEVICES */

/* CSS Specificity = 0 */
* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS Specificity = 1 */
body {
    background-color: var(--colorPrimary);
    color: var(--textColor);
}

/* FOR DESKTOP */

/* header styles */

/* CSS Specificity = 2 */
header div {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* CSS Specificity = 3 */
header div > button#modeDisco {
    margin-right: 15px;
    border: 0px;
    background-color: var(--colorPrimary);
    color: var(--textColor);
}

header div > button#changeTheme {
    margin-right: 15px;
    border: 0px;
    background-color: var(--colorPrimary);
    color: var(--textColor);
}

/* main container styles */

/* CSS Specificity = 102 */
div#container h2 {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--colorSecundary);
    color: var(--textColor);
}

/* CSS Specificity = 102 */
div#container article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* init form */

/* CSS Specificity = 103 */
div#container article > div {
    margin: 10px;
}

/* CSS Specificity = 104 */
div#container article > div label {
    margin-right: 10px;
}

/* CSS Specificity = 104 */
div#container article > div input, div#container article > div select {
    cursor: pointer;
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: 5px;
    box-shadow: 3px 3px 0px var(--colorSecundary);
    background-color: var(--colorPrimary);
    color: var(--textColor);
    transition: all 1s;
}

/* CSS Specificity = 114 */
div#container article > div input:hover, div#container article > div select:hover {
    box-shadow: 6px 6px 10px var(--colorSecundary);
    background-color: var(--colorSecundary);
    transition: all 1s;
}

/* CSS Specificity = 204 */
div#container article > div button#btnPlay {
    cursor: pointer;
    width: 200px;
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: 5px;
    box-shadow: 3px 3px 0px var(--colorSecundary);
    background-color: var(--colorPrimary);
    color: var(--textColor);
    transition: all .5s;
}

/* CSS Specificity = 214 */
div#container article > div button#btnPlay:hover {
    box-shadow: 6px 6px 10px var(--colorSecundary);
    background-color: var(--colorSecundary);
    transition: all .5s;
}

/* board of game */

/* CSS Specificity = 103 */
div#container article table {
    width: 800px;
}

/* CSS Specificity = 105 */
div#container article table tr > td {
    padding: 15px;
    text-align: center;
    border: 5px solid var(--colorSecundary);
}

/* CSS Specificity = 105 */
div#container article table tr > th {
    padding: 10px;
}

/* CSS Specificity = 11 */
button.btnsBoard {
    cursor: pointer;
    width: 45px;
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: 50%;
}

/* CSS Specificity = 11 */
span.gameChips {
    width: 45px;
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: 50%;
}

/* other styles */

/* CSS Specificity = 1 */
h1 {
    font-size: 30px;
    text-align: center;
}

/* CSS Specificity = 1 */
h2 {
    font-size: 25px;
    text-align: center;
}

/* CSS Specificity = 11 */
hr.line {
    margin: 25px 10px 25px 10px;
    border: 2px solid var(--colorSecundary);
}

@media only screen and (max-width: 860px) {
    /* FOR MOBILE PHONE */

    /* board of game */

    /* CSS Specificity = 103 */
    div#container article table {
        width: 100px;
    }

    /* CSS Specificity = 105 */
    div#container article table tr > td {
        padding: 5px;
        text-align: center;
        border: 5px solid var(--colorSecundary);
    }

    /* CSS Specificity = 105 */
    div#container article table tr > th {
        padding: 5px;
    }

    /* CSS Specificity = 11 */
    button.btnsBoard {
        width: 30px;
        padding: 2px;
        border: 1px solid var(--black);
        border-radius: 50%;
    }

    /* CSS Specificity = 11 */
    span.gameChips {
        width: 30px;
        padding: 2px;
        border: 1px solid var(--black);
        border-radius: 50%;
    }
}
